<html>
<head>
	<title>Angular js</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

	<link rel="stylesheet" type="text/css" href="../css/app.css">
<meta name="viewport" content="initial-scale=1" />

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="../bower_components/angular-mocks/angular-mocks.js"></script>
	<script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../common/services/common.services.js"></script>
	<script type="text/javascript" src="../common/services/productResource.js"></script>
	<script type="text/javascript" src="../common/services/productResourceMock.js"></script>
	<script type="text/javascript" src="../app/product/productCtrl.js"></script>
	<script type="text/javascript" src="../app/product/productDetailCtrl.js"></script>
	<script type="text/javascript" src="../app/product/productEditCtrl.js"></script>



</head>
<body ng-app="ProductManagement">

	<nav class="navbar navbar-inverse">
		<div class="container">
			<a class="navbar-brand">Acme Product Management</a>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toogle Navigation</span>
					<span class=icon-bar></span>
					<span class=icon-bar></span>
					<span class=icon-bar></span>
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a ui-sref="productList">Products List</a></li>
					<li><a ui-sref="productEdit.info({productId:0})"><i class="glyphicon glyphicon-plus"></i>Add Product</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div ui-view></div>
	</div>
</body>
</html>