<html>
<head>
	<title>Angular js</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="angular-material/angular-material.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
<meta name="viewport" content="initial-scale=1" />

	<script type="text/javascript" src="angular/angular.js"></script>

	<script type="text/javascript" src="angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="angular-material/angular-material.js"></script>

	<script type="text/javascript" src="angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="angular-mocks/angular-mocks.js"></script>

	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="product/productCtrl.js"></script>
	<script type="text/javascript" src="services/common.services.js"></script>
	<script type="text/javascript" src="services/productResource.js"></script>
	<script type="text/javascript" src="services/productResourceMock.js"></script>

</head>
<body ng-app="ProductManagement">

<md-list ng-controller="ProductCtrl as vm" >
 <md-button class="md-raised md-primary" ng-click="vm.toogleImage()">{{vm.showImage ? "Hide" : "Show"}} Image</md-button>
 <md-subheader class="md-no-sticky">Comidas</md-subheader>

	 <md-list-item ng-repeat="product in vm.products">
		<p>{{product.productId}}</p>
		<p>{{product.productName}}</p>
		<img ng-src="{{product.productImage}}" ng-if="vm.showImage" width="60">
	</md-list-item>
</md-list>

teste
</body>
</html>