<html>
<head>
	<title>Angular js</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
<meta name="viewport" content="initial-scale=1" />

	<script type="text/javascript" src="../bower_components/angular/angular.js"></script>

	<script type="text/javascript" src="../bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="../bower_components/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="../bower_components/angular-material/angular-material.js"></script>

	<script type="text/javascript" src="../bower_components/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="../bower_components/angular-mocks/angular-mocks.js"></script>
	<script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>

	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../common/services/common.services.js"></script>
	<script type="text/javascript" src="../common/services/productResource.js"></script>
	<script type="text/javascript" src="../common/services/productResourceMock.js"></script>
	<script type="text/javascript" src="../app/product/productCtrl.js"></script>

</head>
<body ng-app="ProductManagement">
	<div ui-view></div>
</body>
</html>