
<div class="panel panel-primary">
	<div class="panel-heading">
Products
	</div>

	<div class="panel-body">  
		<table ng-controller="ProductCtrl as vm" class="table">
			<thead>
				<tr>
					<td>
						<button type="button" ng-click="vm.toogleImage()" class="btn btn-default">{{vm.showImage ? "Hide" : "Show"}} Image</button>
					</td>
					<td>ProductId</td>
					<td>Name</td>
				</tr>
			</thead>
			<tbody ng-repeat="product in vm.products">
				<tr>
					<td><img ng-src="{{product.imageUrl}}" ng-if="vm.showImage" width="60"></td>
					<td>{{product.productId}}</td>
					<td>
						<a ui-sref="productDetail({productId: product.productId})">{{product.productName}}</a>
					</td>
				</tr>
			</tbody>
		</talbe>
	</div>
</div>
